html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') CodeLomDom
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home 
                    li.nav-item
                        a.nav-link(href='/users') Users 
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | About
                        .dropdown-menu(aria-labelledby='navbarDropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            .dropdown-divider
                            a.dropdown-item(href='#') Something else here
                    li.nav-item
                        a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
                    form.form-inline.my-2.my-lg-0(action="/users/search", method="GET")
                        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search', name="q")
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        .container.pt-5
            block content